[workspace]
members = [
    "crates/utils",
    "crates/core/torii-core",
    "crates/core/torii-registry",
    "crates/fetchers/torii-fetcher-jsonrpc",
    "crates/decoders/torii-decoder-introspect",
    "crates/decoders/torii-decoder-erc20",
    "crates/decoders/torii-decoder-erc721",
    "crates/sinks/torii-sink-log",
    "crates/sinks/torii-sink-sqlite",
    "crates/sinks/torii-sink-json",
    "crates/sinks/torii-sink-postgres",
    "crates/types/torii-types-introspect",
    "crates/types/torii-types-erc20",
    "crates/types/torii-types-erc721",
    "crates/types/dojo-types-manager",
    "bins/*",
    "tests/*",
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.1.0"
license = "Apache-2.0"
authors = ["Torii Runtime <dev@torii.rs>"]
repository = "https://github.com/dojoengine/torii-core"
publish = false

[workspace.dependencies]
alphanumeric-sort = "1.5.3"
anyhow = "1"
async-trait = "0.1"
bytes = "1"
primitive-types = "0.14"
resolve-path = "0.1.0"
starknet = "0.17"
tokio = { version = "1", features = [
    "macros",
    "rt-multi-thread",
    "time",
    "sync",
] }

tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["fmt", "env-filter"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
config = "0.14"
sqlx = { version = "0.7", default-features = false, features = [
    "runtime-tokio",
    "sqlite",
    "postgres",
] }
url = "2"
introspect-value = { git = "https://github.com/cartridge-gg/introspect", branch = "next" }
introspect-types = { git = "https://github.com/cartridge-gg/introspect", branch = "next" }
introspect-events = { git = "https://github.com/cartridge-gg/introspect", branch = "next" }
# introspect-value = { path = "../introspect/crates/value" }
# introspect-types = { path = "../introspect/crates/types" }
# introspect-events = { path = "../introspect/crates/events" }
dojo-introspect-types = { git = "https://github.com/dojoengine/dojo-introspect", branch = "next" }
dojo-introspect-utils = { git = "https://github.com/dojoengine/dojo-introspect", branch = "next" }
dojo-introspect-events = { git = "https://github.com/dojoengine/dojo-introspect", branch = "next" }
# dojo-introspect-types = { path = "../dojo-introspect/crates/types" }
# dojo-introspect-utils = { path = "../dojo-introspect/crates/utils" }
# dojo-introspect-events = { path = "../dojo-introspect/crates/events" }
dojo-types-manager = { path = "crates/types/dojo-types-manager" }
rand = "0.9.2"
starknet-types-core = "0.2.0"
thiserror = "2.0.17"
torii-core = { path = "crates/core/torii-core" }
torii-registry = { path = "crates/core/torii-registry" }
torii-types-introspect = { path = "crates/types/torii-types-introspect" }
torii-decoder-introspect = { path = "crates/decoders/torii-decoder-introspect" }
torii-sink-json = { path = "crates/sinks/torii-sink-json" }
torii-sink-sqlite = { path = "crates/sinks/torii-sink-sqlite" }
torii-sink-postgres = { path = "crates/sinks/torii-sink-postgres" }
torii-utils = { path = "crates/utils" }
torii-test-utils = { path = "tests/test_utils" }
